#mood-buttons-container {}

.mood-button {}

#mood-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.violet {
    background-color: violet;
}