body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

.page {
    max-width: 700px;
    margin: 80px auto;
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

h1 {
    margin-top: 0;
}

code {
    background-color: #eeeeee;
    padding: 2px 6px;
    border-radius: 4px;
}

.red {
    color: red
}

.weatherCard {
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 10px;
    border: #222 solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forecastContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.errorMessage {
    grid-column: 1 / -1;
    color: red
}

.forecastCard {
    padding: 0.5rem;
    border: #222 solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}